@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Poppins';
        font-weight: 600;
        font-display: swap;
        src: url('../public/assets/fonts/Poppins-SemiBold.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 400;
        font-display: swap;
        src: url('../public/assets/fonts/Poppins-Regular.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 500;
        font-display: swap;
        src: url('../public/assets/fonts/Poppins-Medium.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Righteous';
        font-weight: 500;
        font-display: swap;
        src: url('../public/assets/fonts/Righteous-Regular.ttf') format("truetype");
    }
}

body {
    background: #F2F2F2;
}